{% extends 'base.html.twig' %}
{% block navbar %}{% endblock %}
{% block title %}Compte de {{ app.user.prenom }}{% endblock %}

{% block content %}
    <header class="bg-primary pt-9 pb-11 d-none d-md-block">
        <div class="container-md">
            <div class="row align-items-center">
                <div class="col">

                    <!-- Heading -->
                    <h1 class="font-weight-bold text-white mb-2">
                        Compte
                    </h1>

                    <!-- Text -->
                    <p class="font-size-lg text-white-75 mb-0">
                        de <a class="text-reset" href="mailto:{{app.user.email}}">{{ app.user.prenom }}</a>
                    </p>

                </div>
                <div class="col-auto">

                    <!-- Button -->
                    <a href="{{ path('app_logout') }}">
                        <button class="btn btn-sm btn-gray-300-20 shadow-dark-lg">
                            Log Out
                        </button>
                    </a>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </header>

    <main class="pb-8 pb-md-11 mt-md-n6">
        <div class="container-md">
            <div class="row">
                <div class="col-12 col-md-3">

                    <!-- Card -->
                    <div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">

                        <!-- Collapse -->
                        <div class="collapse d-md-block" id="sidenavCollapse">
                            <div class="card-body">

                                <!-- Heading -->
                                <h6 class="font-weight-bold text-uppercase mb-3">
                                    Compte
                                </h6>

                                <!-- List -->
                                <ul class="card-list list text-gray-700 mb-2">
                                    <li class="list-item active">
                                        <a class="list-link text-reset" href="{{ path('account') }}">
                                            General
                                        </a>
                                    </li>
                                    <li class="list-item">
                                        <a class="list-link text-reset" href="{{ path('account_password') }}">
                                            Mot de passe
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-md-9">

                    <!-- Card -->
                    <div class="card card-bleed shadow-dark-lg mb-6">
                        <div class="card-header">

                            <!-- Heading -->
                            <h4 class="mb-0">
                                Information de base
                            </h4>

                        </div>
                        <div class="card-body">

                            <!-- Form -->
                            <form>
                                <div class="row">
                                    <div class="col-12 col-md-6">

                                        <!-- Name -->
                                        <div class="form-group">
                                            <h4>Prénom :</h4>
                                            {{ app.user.prenom }}
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-6">

                                        <!-- Email -->
                                        <div class="form-group">
                                            <h4>Email :</h4>
                                            {{ app.user.email }}
                                        </div>

                                    </div>

                                    <div class="col-12 col-md-6">

                                        <!-- Name -->
                                        <div class="form-group">
                                            <h4>Nom :</h4>
                                            {{ app.user.nom }}
                                        </div>

                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <!-- Text -->
                    <p class="text-center mb-0">
                        <small class="text-muted">Si vous voulez <a class="text-danger" href="#!">supprimer votre compte</a>.</small>
                    </p>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </main>
{% endblock %}
