<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}eMédiation{% endblock %}</title>
        <link href="{{ asset('assets/css/theme.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/plyr.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet"/>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" href="../public/assets/img/logoMV.svg">
        <link rel="stylesheet" href="path/to/plyr.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

    <!--Navbar-->
    {% if block('navbar') is defined %}

    <nav class="navbar navbar-expand-lg bg-primary mv-navbar-app">
        <div class="container">
            <a class="navbar-brand text-white" href="{{ path('home') }}">
                <img src="assets/img/logoMV.svg" width="30" height="30" class="d-inline-block align-content-center ">
                eMédiation
            </a>
            <div class="btn btn-outline-white nav-toggle-mobile d-lg-none">
                Menu
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-6 mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="{{ path('offre_culturelle') }}">Offre culturelle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('videos') }}">Vidéo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('podcast') }}">Podcast</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('live') }}">Live</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-10 mr-auto">
                    {% if app.user %}
                        <li class="nav-item align-items-end">
                            <a class="nav-link text-white" href="{{ path('account') }}">Compte</a>
                        </li>
                    <li class="nav-item align-items-end">
                        <a class="nav-link text-white" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}

    <div class="{% if block('navbar') is not defined %}mt-5{% endif %}">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="py-8 py-md-11 bg-primary mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-4">

                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-white">
                        Médiathèque Valais - Brigue
                    </h6>

                    <!-- List -->
                    <ul class="list-unstyled text-white mb-6 mb-md-8 mb-lg-0">
                        <li class="mb-3">
                            <p>
                                MV-Brig
                            </p>
                        </li>
                    </ul>

                </div>
                <div class="col-12 col-md-5 col-lg-4">

                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-white">
                        Médiathèque Valais - Sion
                    </h6>

                    <!-- List -->
                    <ul class="list-unstyled text-white mb-6 mb-md-8 mb-lg-0">
                        <li class="mb-3">
                            <p>
                                MV-Sion
                            </p>
                        </li>
                    </ul>

                </div>
                <div class="col-12 col-md-5 col-lg-4">

                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-white">
                        Médiathèque Valais - Martigny
                    </h6>

                    <!-- List -->
                    <ul class="list-unstyled text-white mb-0">
                        <li class="mb-3">
                            <p>
                                MV-Martigny
                            </p>
                        </li>
                    </ul>

                </div>
                <div class="col-12 col-md-5 col-lg-4">

                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-white">
                        Médiathèque Valais - St-Maurice
                    </h6>

                    <!-- List -->
                    <ul class="list-unstyled text-white mb-0">
                        <li class="mb-3">
                            <p>
                                MV-St-Maurice
                            </p>
                        </li>
                    </ul>

                </div>
                <div class="col-12 col-md-5 col-lg-4">

                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-white">
                        eMédiathèque
                    </h6>

                    <!-- List -->
                    <ul class="list-unstyled text-white mb-6 mb-md-8 mb-lg-0">
                        <li class="mb-3">
                            <p>
                                eMV
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-5 col-lg-3">
                    <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
                        <li class="list-inline-item list-social-item mr-3">
                            <a href="#!" class="text-decoration-none">
                                <img src="./assets/img/icons/social/instagram.svg" class="list-social-icon" alt="...">
                            </a>
                        </li>
                        <li class="list-inline-item list-social-item mr-3">
                            <a href="#!" class="text-decoration-none">
                                <img src="./assets/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
                            </a>
                        </li>
                        <li class="list-inline-item list-social-item mr-3">
                            <a href="#!" class="text-decoration-none">
                                <img src="./assets/img/icons/social/twitter.svg" class="list-social-icon" alt="...">
                            </a>
                        </li>
                        <li class="list-inline-item list-social-item mr-3">
                            <a href="#!" class="text-decoration-none">
                                <img src="./assets/img/icons/social/linkedin.svg" class="list-social-icon" alt="...">
                            </a>
                        </li>
                    </ul>
                </div>


            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/script.js') }}"></script>
    <script src="{{ asset('assets/js/theme.min.js') }}"></script>
    <script defer src="/your-path-to-fontawesome/js/brands.js"></script>
    <script defer src="/your-path-to-fontawesome/js/solid.js"></script>
    <script defer src="/your-path-to-fontawesome/js/fontawesome.js"></script>
    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="./assets/libs/aos/dist/aos.js"></script>
    <script src="./assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="./assets/libs/countup.js/dist/countUp.min.js"></script>
    <script src="./assets/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="./assets/libs/flickity/dist/flickity.pkgd.min.js"></script>
    <script src="./assets/libs/flickity-fade/flickity-fade.js"></script>
    <script src="./assets/libs/highlightjs/highlight.pack.min.js"></script>
    <script src="./assets/libs/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="./assets/libs/isotope-layout/dist/isotope.pkgd.min.js"></script>
    <script src="./assets/libs/jarallax/dist/jarallax.min.js"></script>
    <script src="./assets/libs/jarallax/dist/jarallax-video.min.js"></script>
    <script src="./assets/libs/jarallax/dist/jarallax-element.min.js"></script>
    <script src="./assets/libs/quill/dist/quill.min.js"></script>
    <script src="./assets/libs/smooth-scroll/dist/smooth-scroll.min.js"></script>
    <script src="./assets/libs/typed.js/lib/typed.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script src="https://cdn.plyr.io/3.6.3/plyr.js"></script>
    <script src="path/to/plyr.js"></script>
    <script>
        const player = new Plyr('#player');
    </script>


    </body>
</html>
