{% extends 'base.html.twig' %}

{% block title %}{{ live.title }}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
    <section data-jarallax="" data-speed=".8" class="pt-10 pb-11 py-md-14 overlay overlay-60 jarallax" style="background-image: none;" data-jarallax-original-styles="background-image: url(../assets/img/shapes/waves/MvWave.svg);">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 text-left">

                    <!-- Heading -->
                    <h1 class="display-2 text-white font-weight-bold mb-10">{{ live.title }}</h1>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
        <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100;">
            <div  style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url('../assets/img/shapes/waves/MvWave.svg'); position: absolute; top: 0px; left: 0px; width: 100%; height: 55%; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 0px; transform: translate3d(0px, -7px, 0px);">
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="plyr__video-embed" id="player">
                        <div>{{ live.media|raw }}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-6">
                    <h1>A propos du live</h1>
                    <p class="text-justify">{{ live.description }}</p>
                </div>
                <div class="col-6">

                    <!-- Card -->
                    <div class="card card-bleed border-bottom border-bottom-md-0 shadow-dark-lg card-mb-6">

                        <!-- Collapse -->
                        <div class="collapse d-md-block" id="sidenavCollapse">
                            <div class="card-body">
                                <!-- Heading -->
                                    <h2>
                                        {{ live.title }}
                                    </h2>

                                <div class="row col-12">
                                    <div class="badge badge-pill badge-primary-soft mb-2 mr-3">{{ live.domaine }}</div>
                                    <div class="badge badge-pill badge-primary-soft mb-2">{{ live.category }}</div>
                                </div>

                                    <h3>Episode {{ live.episode }}</h3>

                                <div class="card-meta mt-5">

                                    <!-- Author -->
                                    <h6 class="text-uppercase text-dark mr-2 mb-0">
                                        {{ live.createur }}
                                    </h6>

                                    <!-- Date -->
                                    <p class="h6 text-uppercase text-dark mb-0 ml-auto">
                                        <time datetime="2019-05-02">{{ live.date|date('d/m/Y')}}</time>
                                    </p>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>







{% endblock %}


